/* Header styles */
@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  scroll-padding-top: 80px;
  background-color: #eeeeee;
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}

/* subscribe */
.subscribe {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 10px;
}

.subscribe-button {
  text-align: left;
}

.subscribe-button .btn {
  border-radius: 30px;
}

/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: #eeeeee;
  font-size: 20px;
}
.navbar-logo img {
  margin-bottom: -10px;
  margin-top: -10px;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-spacing: 0px;
  border-radius: 50%;
}

.navbar-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navbar-mainbg {
  background-color: #ff5722;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
  padding-right: 20px;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #ff5722;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #eeeeee;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #eeeeee;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff5722;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

/* Chaind container styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 0px;
  margin-bottom: 80px;
}

.chaind {
  height: 80px;
}
.row {
  background-color: #ff5722;
  border-radius: 20px;
  margin-bottom: 20px;
}
.type-header {
  padding-top: 20px;
}

.chaind-container {
  display: flex;
  align-items: right;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 20px;
}

/* Card styles */
.card {
  width: 170px;
  height: 254px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  background-color: transparent;
}

.card h2 {
  z-index: 1;
  color: #eeeeee;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.type-header h2 {
  color: #eee;
  border-bottom: 3px #eee solid;
  padding-bottom: 10px;
}
.card .btn,
.card button.btn {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #2d4059;
  color: #eeeeee;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  position: relative;
  z-index: 2;
  margin-bottom: 5px;
}
.card .btn:hover,
.card button.btn:hover {
  background-color: #21344d;
  transform: scale(1.1);
}
.btn-primary {
  width: 120px;
  height: 35px;
  background-color: #21344d;
  border: 0px;
}
.card::before {
  content: "";
  position: absolute;
  width: 120px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 150%;
  animation: rotBGimg 2s linear infinite;
  transition: all 0.2s linear;
  filter: blur(20px);
  border-radius: 20px;
}

.card::after {
  content: "";
  position: absolute;
  background: #222831;
  inset: 3px;
  border-radius: 20px;
}

.card-content {
  position: relative;
  z-index: 1;
  text-align: center;
  transition: transform 0.3s;
  text-transform: uppercase;
}

.card-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-content img.round-image {
  width: 70px;
  height: 70x;
  border-radius: 50%;
  border: 2px solid #eeeeee;
  margin-bottom: 2px;
  margin-top: 0px;
  transition: transform 0.3s;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Green dot styles */
.dot-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #28c76f;
  position: absolute;
  top: 5px;
  right: 1px;
  animation: blinking-active 1s infinite;
}

/* Red dot styles */
.dot-inactive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 5px;
  right: 1px;
  animation: blinking-inactive 1s infinite;
}

/* Gaya pop-up */
.banner {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

/*==================== 
  Footer 
====================== */
footer .container {
  padding-left: 0px;
}
footer .row {
  background-color: #252525;
  border-radius: 0px;
  padding-left: 0px;
}
/* Main Footer */
footer .main-footer {
  padding: 20px 0;
  background: #252525;
}
footer ul {
  padding-left: 0;
  list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0;
}
.footer-copyright .logo {
  display: inherit;
}
.footer-copyright nav {
  float: right;
  margin-top: 5px;
}
.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}
.footer-copyright nav ul li a {
  color: #969696;
}
.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}
.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
  background: transparent;
}
footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9;
}
footer.light .main-footer {
  background: #f9f9f9;
}
footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
  display: inline-block;
}

/*==================== 
  Widgets 
====================== */
.widget {
  padding: 10px;
  margin-bottom: 20px;
}
.widget.widget-last {
  margin-bottom: 0px;
}
.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.widget.subscribe p {
  margin-bottom: 18px;
}
.widget li a {
  color: #ff5722;
}
.widget li a:hover {
  color: #ff5722;
  transform: scale(1.1);
}
.widget-title {
  margin-bottom: 20px;
}
.widget-title span {
  background: #839fad none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%;
}
.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}
.widget-title.text-center span,
.widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.widget .badge {
  float: right;
  background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #eeeeee;
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}
ul.social-footer2 li a:hover {
  transform: scale(1.1);
}
ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}
.btn {
  background-color: #ff5722;
  color: #eeeeee;
}

.btn:hover,
.btn:focus,
.btn.active {
  background: #4b92dc;
  color: #eeeeee;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

@keyframes blinking-active {
  0% {
    box-shadow: 0 0 5px 0px rgba(0, 255, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 5px 0px rgba(0, 255, 0, 0.7);
  }
}

@keyframes blinking-inactive {
  0% {
    box-shadow: 0 0 5px 0px red;
  }
  50% {
    box-shadow: 0 0 20px 5px red;
  }
  100% {
    box-shadow: 0 0 5px 0px red;
  }
}

/* style chart */

.chart {
  height: 300px;
}

.error-message {
  font-size: 18px;
  color: var(--dark-color);
}
